.example-container {
  height: 100%;
}

.panel-label {
  width: 100%;
  display: flex;
  &--item {
    width: 50%;
  }
}

.charts-title {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

.chart-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  &--chart {
    height: 50%;
    width: 900px;
  }
}

.chart-parameter {
  mat-form-field {
    width: 50%;
  }
}

.invisible {
  display: none;
}
