<h2 class="charts-title">NG2 Charts example</h2>
<div class="chart-wrapper">
  <div class="chart-wrapper--chart" [ngSwitch]="chartType">
    <canvas
      *ngSwitchCase="'line'"
      baseChart
      width="700"
      height="400"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [colors]="chartColors"
      [chartType]="chartType"
    ></canvas>
    <canvas
      *ngSwitchCase="'column'"
      baseChart
      width="700"
      height="400"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [colors]="chartColors"
      [chartType]="chartType"
    ></canvas>
    <canvas
      *ngSwitchCase="'pie'"
      baseChart
      width="700"
      height="400"
      [data]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [chartType]="chartType"
    ></canvas>
  </div>
</div>
