<header class="header">
  <div class="header--title">
    <img class="img" src="assets/images/pieChart.png" />
    <h3>CHARTS POC</h3>
  </div>
  <div
    class="header--links"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a routerLink="/highcharts">Highcharts</a>
    <a routerLink="/amcharts">Amcharts</a>
    <a routerLink="/ngx-charts">NGXCharts</a>
    <a routerLink="/ng2-charts">NG2Charts</a>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
